/*
colors:
white       - Main color
#76BED0     - Secondary Color (Blue) (Also used for Information text)
#F55D3E     - CTA Button Color (Orange)
#aa2409     - CTA Button Hover (Darker Orange)
gray        - Border Between Containers
lightgrey   - Temp Hamburger menu color
#FF9900     - Orange - On Hover Header/Footer Text
black       - Hamburger border

#6D676E     - Grey/Secondary (UNUSED)
#EFEFEF     - Beige/Tri-BG (UNUSED)
#96031A     - Red/Buttons (UNUSED)
#c80421     - Red/Button.Hover (UNUSED)
#1b1b1e     - Black (UNUSED)
#ff5900     - CTA Button (UNUSED)
*/


/*TO DO
    -FONTS
    -Re-Check colors
    -Added content
    -Add text for Information
    -Style Hamburger Menu
*/

/*Hamburger stuff*/
.hamLinkCont{/*Hamburger Menu Container*/
    display: none;
    position:absolute;
    border:2px solid black;
    height:400px;
    width:400px;
    top:80px;
    overflow: hidden;
    background-color:white;
}
.hamLinkCont a{/*Individual Hamburger Links Container*/
    font-size:40px;
    font-family:"Arial";
    margin-left:30px;
    font-weight: bold;
}
.hamLinkCont a:hover{/*Individual link on hover*/
    text-decoration: none;
    font-size:44px;
}

.hamLink{/*Hamburger Link button*/
    width:100%;
    height:100px;
    border:2px solid gray;
    background-color: lightgray;
    margin-bottom: 30px;
    padding-top: 15px;
}
.icon{/*Image container for the hamburger menu*/
    font-size:30px;
    text-align: center;
    background:white;
    display: none;
    position: absolute;
    height:100%;
    width:10%;
    float:left;
    z-index:1;
    color:black;
    background-color: white;
}
.icon i{/*The hamburger menu icon*/
    margin-top: 25px;
}
@media only screen and (max-width:900px){/*Show hamburger menu if screen is 
    small enough by changing the display from none to inline-block*/
    .icon{
        display:inline-block;
        
    }
}
.headCont a:hover{/*Hamburger icon change on hover*/
}


/* Start of Navigational bar */
.headCont { /*Navigation bar container */
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    border-bottom:1px solid grey;
    overflow: hidden;
}
.headLogoCont { /* Logo Container */
    width: 25%;
    height: 100%;
    float: left;
    position: absolute;
    display:inline-block;
}
@media only screen and (max-width: 900px){/*Change location of logo on mobile to center screen*/
    .headLogoCont{
        width:55%;
        float:right;
    }
}
.headLogo{/*Logo sizes*/
    width:100px;
    height:50px;
    float:right;
    margin-left:30px;
    margin-top:15px;
}
@media only screen and (max-width:1366px){/*Logo location on screen size to left on mid-sized screens*/
    .headLogo{
        float:left;
    }
}
@media only screen and (max-width:900px){/*Move logo back to center screen*/
    .headLogo{
        float:right;
    }
}
.headGreeting{/*User greeting "Hello Anon"*/
    display:inline-block;
    float:left;
    width:5%;
    position:absolute;
}
.headButtonCont { /* Button Container */
    width: 50%;
    float: right;
    position: absolute;
    left: 40%;
    display: inline-block;
    text-align: center;
}
@media only screen and (max-width: 900px){/*Removes button links if hamburgermenu appears*/
    .headButtonCont{
        display:none;
    }
}
@media only screen and (max-width: 1366px){/*Move links to far right on mid-sized screens*/
    .headButtonCont{
        left:40%;
        width:60%;
    }
}
.headButton { /* Header Buttons */
    display: inline-block;
    padding:20px;
    width: 150px;
    height: 78px;
    margin-right:10px;
    font-family: "Arial";
    white-space: normal;
    font-size: 20px;
    font-weight: bold;
    color: #4d2e00;
    background-color: white;
    float: right;
}
.double { /* Create Account button correction */
    padding:8px;
}
.headButton:hover{ /* Button Hover */
    color: #FF9900;
    font-size:22px;
    text-decoration: none;
}
/* End of Navigation Bar */



/* Start of Body */
body{

}
/*Start of Call To Action */
.ctaCont{/*Call to Action Container (Big blue)*/
    margin-top:80px;
    display:inline-block;
    padding:15px;   
    width:100%;
    height:250px;
    text-align: center;
    background-color: #76BED0;/*blue*/
    border-bottom:1px solid grey;
}
.ctaCont h1{/*"Book A Cab Online" Placing*/
    margin-top:10px;
}
.ctaButton{/*"Request a Cab" CTA Button*/
    margin-top: 30px;
    font-size: 20px;
    font-family: "Arial";
    width: 250px;
    height:50px;
    border-radius: 4px;
    border:none;
    background-color: #F55D3E;/*orange*/
    cursor: pointer;
    box-shadow: 0 3px 0 #aa2409;/*Darker Orange for shadow*/
}
@media only screen and (max-width:1100px){/*Correcting button position on double text*/
    .ctaButton{
        margin-top:10px;
    }
}
.ctaButton:hover{
    background-color: #f44725;
}/*End of Call To Action*/


/*Start of Info section*/
.infoCont{/*White info container bellow CTA*/
    width:100%;
    height:450px;
    background-color: white;
    text-align:center;
    border-bottom:1px solid grey;
}
@media only screen and (max-width: 1366px){/*Changes container size if 
    screen does not fit all three information boxes*/
    .infoCont{
        height:1100px;

    }
}
.infoCont h2{/*"What We Provide" text*/
    margin-top:40px;
}
.infoBoxCont{/*Box containing all three boxes for positioning*/
    width:90%;
    height:300px;
    margin-top:20px;
    margin-left:5%;
    margin-right:5%;
    float:left;
    overflow:hidden;
    text-align: center;
}
@media only screen and (max-width: 1366px){/*Resizes box size for smaller screens*/
    .infoBoxCont{
        height:1000px;
    }
}
.infoBox{/*Individual information containers*/
    width:25%;
    height:100%;
    background-color: white;
    display:inline-block;
    float:left;
    margin: 0 4%;
    text-align: center;
}
@media only screen and (max-width:1366px){/*Resizes/Positions box size for smaller screens*/
    .infoBox{
        height:30%;
        width:50%;
        margin:0 25%;
    }
}
.infoBox h2{/*Titles for each information box*/
    margin-bottom: 30px;
    color:#76BED0;
    font-weight: bold;
    font-family: "Arial";
}/*End of Info Section*/


/*Start of Sponsors section*/
.sponsorsCont{/*Blue Sponsors container*/
    display: inline-block;
    width:100%;
    height:200px;
    background-color: #76BED0;
    text-align: center;
}
.sponsorsCont h2{/*"Proudly Sponsoring" text*/
    margin-top:20px;
}
.sponsored{/*Each image in sponsored*/
    margin: 10px 20px;
    border:2px solid black;
    border-radius: 40px;
    width:80px;
    height:80px;
}/*End of Sponsors

/* End of Body */


/* Start of Footer */
.footCont { /* Footer Container */
    float: left;
    width: 100%;
    height: 80px;
    background-color: white;
}
.footButtonCont{/*Container for the buttons*/
    width: 75%;
    float: right;
    left:15%;
    position: absolute;
    text-align: center;
}
@media only screen and (max-width:1366px){/*Adjust position on smaller screens*/
    .footButtonCont{
        width:100%;
        left:0%;
    }
}
.footButton { /* Footer Buttons */
    display: inline-block;
    padding-top:25px;
    width: 150px;
    height: 78px;
    margin-right:10px;
    font-family: "Arial";
    white-space: normal;
    font-size: 20px;
    font-weight: bold;
    color: #4d2e00;
    background-color: white;
    border: none;
    float: right;
}
.footButton:hover{ /* Footer Button Hover */
    color: #FF9900;
    font-size:22px;
    text-decoration: none;
}