@charset "ISO-8859-1";
.ctaButton{/*"Request a Cab" CTA Button*/
    margin-top: 30px;
    font-size: 20px;
    font-family: "Arial";
    width: 250px;
    height:50px;
    border-radius: 4px;
    border:none;
    background-color: #F55D3E;/*orange*/
    cursor: pointer;
    box-shadow: -1px 3px 3px #aa2409;/*Darker Orange for shadow*/
    text-decoration:none!important;
}
.ctaButton:hover{
    background-color: #f44725;
    box-shadow:none;
}/*End of Call To Action*/
.moreButton{
    font-size: 20px;
    font-family: "Arial";
    width: 200px;
    height:30px;
    border-radius: 4px;
    border:none;
    background-color: #77C9D4;/*lightblue*/
    cursor: pointer;
    box-shadow: -1px 3px 3px #3799A4;/*Darker Orange for shadow*/
}
.moreButton:hover{
	box-shadow:none;
}
.sponsored{/*Each image in sponsored*/
    margin: 10px 20px;
    border:2px solid black;
    border-radius: 40px;
    width:80px;
    height:80px;
}
.texdec:hover{
	text-decoration:none;
}