/*
colors:
white       - Main color
#76BED0     - Secondary Color (Blue) (Also used for Information text)
#F55D3E     - CTA Button Color (Orange)
#aa2409     - CTA Button Hover (Darker Orange)
gray        - Border Between Containers
lightgrey   - Temp Hamburger menu color
#FF9900     - Orange - On Hover Header/Footer Text
black       - Hamburger border

#6D676E     - Grey/Secondary (UNUSED)
#EFEFEF     - Beige/Tri-BG (UNUSED)
#96031A     - Red/Buttons (UNUSED)
#c80421     - Red/Button.Hover (UNUSED)
#1b1b1e     - Black (UNUSED)
#ff5900     - CTA Button (UNUSED)
*/


/*TO DO
    -FONTS
    -Re-Check colors
    -Added content
    -Add text for Information
    -Style Hamburger Menu
*/
/* Start of Body */
body{

}
/*Start of Call To Action */
.ctaButton{/*"Request a Cab" CTA Button*/
    margin-top: 30px;
    font-size: 20px;
    font-family: "Arial";
    width: 250px;
    height:50px;
    border-radius: 4px;
    border:none;
    background-color: #F55D3E;/*orange*/
    cursor: pointer;
    box-shadow: 0 3px 0 #aa2409;/*Darker Orange for shadow*/
}
@media only screen and (max-width:1100px){/*Correcting button position on double text*/
    .ctaButton{
        margin-top:10px;
    }
}
.ctaButton:hover{
    background-color: #f44725;
}/*End of Call To Action*/

/*Start of Sponsors section*/
.sponsored{/*Sizing the images in sponsored*/
    margin: 10px 20px;
    border:2px solid black;
    border-radius: 40px;
    width:80px;
    height:80px;
}/*End of Sponsors

/* End of Body */